/**
 * @file
 * Draw_Hunting_Ballot toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-draw-hunting-ballot-manage:before {
  background-image: url("../icons/ballot-manage-icon.svg");
}
.toolbar-bar .toolbar-icon-draw-hunting-ballot-manage:active:before {
  background-image: url("../icons/ballot-manage-icon.svg");
}

/* Tray styling (second row) *//*Copied from Commerce - left in for example purposes */
/*.toolbar-tray .toolbar-icon.toolbar-icon-draw-hunting-ballot-manage:before {
  background-image: url("../icons/787878/drupal-cart.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-draw-hunting-ballot-manage:active:before {
  background-image: url("../icons/000000/drupal-cart.svg");
}*/

/* "next" button additional text for "Unpaid-entries" and "Manage entries" */
#views-form-allocated-block-page-1 #edit-submit::after,
#views-form-unpaid-entries-0-2-page-1 #edit-submit::after {
	content: "> send email to selected hunters";
	margin-left: 6px;
}
